<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Employ AI - Home</title>
  <link rel="stylesheet" href="/static/home.css" />
</head>
<body class="dark-mode">
  <!-- NAVBAR -->
  <nav class="navbar">
    <div class="logo"><a href="/">🎓Employ AI</a></div>
    <ul class="nav-links">
      <li><a href="/resume-upload">Resume Upload</a></li>
      <li><a href="/generate-email">Generate Email</a></li>
      <li><a href="/full/resume">Mock Interview</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>

  <!-- HERO BOX -->
  <main class="auth-container home-box">
    <section class="pitch-box">
      <h1>Your Employ AI Wingman 🚀</h1>

      <p>
        Whether you're trying to get a change or find your first job, a daunting application lays before you. Employ AI helps you clear this challenge by making this process easier and more efficient.
      </p>
        <h3>Our Components! </h3>
        <p>
          Supercharge your job hunt with AI Career Aid – your personal assistant for smarter interviews and cold outreach. This Feature, allows you to generate a cold email application to a recruiter or PI. All you need to do is provide your resume and the recruiter's name, email, and company name. <br><br>
          Practice real interview questions with audio feedback, and generate recruiter emails in seconds using just your resume. This feature, With your resume, and the industry and job you are interested in, we create a mock interview experience for you to practice. The feature allows you to record yourself speaking as you are taken through interview process, giving you follow up questions and feedback.
        </p>
      <div class="button-wrapper">
        <a href="/signup" class="cta-btn">Get Started</a>
      </div>
    </section>
  </main>
</body>
</html>
